.card {
  cursor: pointer;
  border-radius: 14px;
  border: 4px solid #1698d9;
  background-color: #f2f2f2;
  height: 480px;
  transition: border 0.5s;
  -webkit-clip-path: polygon(13.9% 0, 100% 0, 100% 100%, 0 100%, 0 9.3%);
  clip-path: polygon(13.9% 0, 100% 0, 100% 100%, 0 100%, 0 9.3%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
  padding-top: 24px;
  position: relative;
}

.card::before {
  content: '';
  width: 70px;
  height: 5px;
  background-color: #1698d9;
  transition: background-color 0.5s;
  transform: rotate(136.6deg);
  position: absolute;
  left: -16px;
  top: 16px;
}

.cardDisabled {
  border-color: #b3b3b3;
  transition: border 0s;
}

.cardDisabled.card::before {
  background-color: #b3b3b3;
  transition: background-color 0s;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 320px;
  width: 100%;
  height: 480px;
}

.cardContent {
  max-width: 208px;
  width: 100%;
  padding-left: 50px;
}

.slogan {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  padding: 25px 0 10px;
}

.name {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  padding-bottom: 3px;
}

.productView {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  padding-bottom: 19px;
}

.portionCount {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.portion {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

.packing {
  position: absolute;
  right: 17px;
  bottom: 17px;
  content: '';
  background-color: #1698d9;
  color: #fff;
  font-size: 32px;
  font-weight: normal;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 34px;
  display: flex;
  flex-direction: column;
}

.proposal {
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.buy {
  color: #1698d9;
  border-bottom: 1px dashed #1698d9;
  cursor: pointer;
}

.cardDisabled .name,
.cardDisabled .slogan,
.cardDisabled .productView,
.cardDisabled .portionCount,
.cardDisabled .portion,
.cardDisabled .gift,
.cardDisabled .isSatisfied {
  color: #b3b3b3;
}

.cardDisabled .packing {
  background-color: #b3b3b3;
}

.cardDisabled .catImg {
  opacity: 0.5;
}

.cardDisabled .card {
  cursor: not-allowed;
}

.cardSelected .card {
  border-color: #d91667;
}

.cardSelected .card::before {
  border-color: #d91667;
}

.cardSelected .packing {
  background-color: #d91667 !important;
}
